.myCustomMarginBottom4px_CSK_Module_Commands {
  margin-bottom: 4px;
}

.myCustomSpacerVert10_CSK_Module_Commands {
  min-height: 10px;
}

.myCustomSpacerVert20_CSK_Module_Commands {
  min-height: 20px;
}

.myCustomFrameNoColor_CSK_Module_Commands {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: 007CC1;
  background-color: white;
}

.myCustomFrame_CSK_Module_Commands {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #007CC1;
  background-color: white;
}

.myCustomLabel_CSK_Module_Commands {
  font-size:30px;
  color: grey;
  margin-top: 10px;
}

.myCustomFrameLabel_CSK_Module_Commands {
  background: white;
  position:relative;
  top: calc(-1.2rem);
  left: calc(1rem);
  font-size: medium;
}

.myCustomPersistentDataMargin_CSK_Module_Commands {
  margin-top: -53px;
  margin-left: 130px;
}

.myCustomPersistentDataMarginBack_CSK_Module_Commands {
  margin-left: -127px;
}

.myCustomBorderLeft_CSK_Module_Commands {
  border-left: 1px solid lightgray;
}

.myCustomMarginFirstRow_CSK_Module_Commands {
  margin-top: -49px;
}

.myCustomBorderBottom_CSK_Module_Commands {
  border-bottom: 1px solid lightgray;
  margin-inline: calc(1rem);
}

.myCustomMarginTop7PX_CSK_Module_Commands {
  margin-top: 7px;
}

.myCustomBackground_CSK_Module_Commands {
}

.myCustomButton_CSK_Module_Commands {
  border-radius: 30px;
  padding-right: 0px;
}
